
*.hxv
*.dat
CSSC_compression_code/x64/Debug/wellf
CSSC_compression_code/x64/Debug/well
CSSC_compression_code/x64/Debug/wellf1
CSSC_compression_code/Debug/wellf1
CSSC_compression_code/Debug/wellf
CSSC_compression_code/Debug/wellf2
CSSC_compression_code/Debug/wellf3
CSSC_compression0510/x64/Debug/well
CSSC_compression0510/x64/Debug/well1
CSSC_compression0510/x64/Debug/wellf
CSSC_compression_code/x64/Debug/shore_compressed
CSSC_compression_code/x64/Debug/shore_decompressed
CSSC_compression0518/Debug/well
CSSC_compression0518/Debug/wellf
CSSC_compression_code/Debug/well
CSSC_compression_code/Debug/well0519
CSSC_compression_code/Debug/well05191
CSSC_compression0510/x64/Debug/wellf123
CSSC_compression_code/x64/Debug/shore
CSSC_compression_code/x64/Debug/test.csv
CSSC_compression_code/x64/Debug/test
CSSC_compression_code/x64/Debug/shore_decoded2
CSSC_compression_code/x64/Debug/shore_decoded
