
*.hxv
*.dat
CSSC_compression_code/x64/Debug/wellf
CSSC_compression_code/x64/Debug/well
CSSC_compression_code/x64/Debug/wellf1
CSSC_compression_code/Debug/wellf1
CSSC_compression_code/Debug/wellf
CSSC_compression_code/Debug/wellf2
CSSC_compression_code/Debug/wellf3
CSSC_compression0510/x64/Debug/well
CSSC_compression0510/x64/Debug/well1
CSSC_compression0510/x64/Debug/wellf
CSSC_compression_code/x64/Debug/shore_compressed
CSSC_compression_code/x64/Debug/shore_decompressed
CSSC_compression0518/Debug/well
CSSC_compression0518/Debug/wellf
CSSC_compression_code/Debug/well
CSSC_compression_code/Debug/well0519
CSSC_compression_code/Debug/well05191
CSSC_compression0510/x64/Debug/wellf123
CSSC_compression_code/x64/Debug/shore
CSSC_compression_code/x64/Debug/test.csv
CSSC_compression_code/x64/Debug/test
CSSC_compression_code/x64/Debug/shore_decoded2
CSSC_compression_code/x64/Debug/shore_decoded
*.csv
*.csv
CSSC_compression0518/Debug/shore_compressed
CSSC_compression0518/Debug/shore_decompressed
CSSC_compression_code/Debug/well0524
CSSC_compression_code/x64/Debug/well0525
CSSC_compression0518/Debug/wellf1
CSSC_compression0518/Debug/well0525
CSSC_compression0518/Debug/data_well_public
CSSC_compression_code/Debug/well0
CSSC_compression_code/Debug/data_well_public1
*.ipch
*.ipch
*.ipch
*.ipch
CSSC_compression0518/.vs/CSSC_compression0518/v17/ipch/AutoPCH/8021b8523ead74d4/MAIN.ipch
CSSC_compression0518/.vs/CSSC_compression0518/v17/ipch/AutoPCH/19cb16c0f73f5907/BYTEARRAYOUTPUTSTREAM.ipch
CSSC_compression0518/.vs/CSSC_compression0518/v17/ipch/AutoPCH/187a35c3940ff2b9/GZIP.ipch
CSSC_compression0518/.vs/CSSC_compression0518/v17/ipch/AutoPCH/19cb16c0f73f5907/BYTEARRAYOUTPUTSTREAM.ipch
CSSC_compression_code/Debug/wellts2diff
CSSC_compression_code/Debug/wellfrle
CSSC_compression_code/Debug/wellfrle5
CSSC_compression_code/Debug/wellrle
CSSC_compression_code/Debug/wellrle5
CSSC_compression_code/Debug/well10614
CSSC_compression_code/Debug/well35_0614
CSSC_compression_code/Debug/wellf0610
CSSC_compression_code/Debug/wellfts2diff0610
CSSC_compression_code/Debug/well0615
CSSC_compression_code/Debug/well_0616lz4
CSSC_compression_code/Debug/wellffrag_0616full
CSSC_compression_code/Debug/wellffrag_0616
CSSC_compression_code/Debug/wellffrag_0616lz4
CSSC_compression_code/Debug/well0617lz4
CSSC_compression_code/Debug/wellf_0617lz4
CSSC_compression_code/Debug/wellt_0616lz4
i16_data/ciwc_744X6X61X121.raw
*.raw
i16_data/read_data.py
